
.form__field
            input
                        height: 54px


            &.form__field-error
                        input
                                    border: 1px solid #f5222d

            &.form__field-success
                        input
                                    border: 1px solid #52c41a

            &-error-message
                        display: inline-block
                        font-size: 14px
                        margin-top: 5px
                        color: red