@import '../../styles/vars'

.message
            $self: &
            position: relative
            display: flex
            align-items: flex-end
            max-width: 440px
            margin-bottom: 20px

            &:hover
                        #{ $self }__actions-btn
                                    button
                                                opacity: .5

            &__avatar
                        margin-right: 13px
                        margin-bottom: 22px

            &__content
                        position: relative

            &__info
                        position: relative
                        display: inline-block

            &__bubble
                        display: inline-block
                        padding: 15px 20px
                        box-sizing: border-box
                        background-color: $blue
                        border-radius: 12px 12px 12px 0
                        box-shadow: 0 5px 5px rgba(54, 126, 255, .2)
                        // box-shadow: 0 5px 5px rgba(0, 0, 0, .14)

            &__text
                        color: white
                        line-height: 25px

                        .emoji-mart-emoji
                                    height: 18px
                                    transform: translateY(3px)

            &__typing
                        display: flex

                        span
                                    height: 8px
                                    width: 8px
                                    border-radius: 50%
                                    background: #a6bdf0
                                    display: inline-block
                                    margin: 0 0 0 8px
                                    animation: typingAnimation 1.1s 0s infinite cubic-bezier(0.445, 0.050, 0.550, 0.950)

                                    &:first-child
                                                margin: 0

                                    &:nth-child(2)
                                                animation-delay: 0.3s !important

                                    &:last-child
                                                animation-delay: 0.6s !important


            &__attachments
                        display: flex
                        margin-top: 8px

                        &-item
                                    width: 45px
                                    height: 45px
                                    border-radius: 8px
                                    overflow: hidden
                                    margin-right: 5px
                                    cursor: pointer

                                    &:first-child
                                                border-radius: 8px 8px 8px 0

                                    &:last-child
                                                margin-right: 0

                                    img
                                                object-fit: cover

            &__date
                        margin-top: 10px

 

            &__actions
                        display: flex
                        flex-direction: column
                        justify-content: space-between
                        position: absolute
                        z-index: 100
                        left: -25px
                        // bottom: 22px
                        // height: calc(100% - 22px)
                        bottom: 0
                        height: 100%

                        &-btn
                                    &.visible
                                                button
                                                            opacity: 1 !important
                                    
                                    button
                                                background-color: transparent
                                                border: none
                                                outline: none
                                                cursor: pointer
                                                opacity: 0
                                                transition: opacity .3s

                                                &:hover
                                                            opacity: 1 !important
                                                
                                                svg
                                                            fill: $black

                        &-action
                                    background-color: transparent
                                    border: none
                                    outline: none
                                    cursor: pointer
                                    font-size: 16px
                                    color: $black
                                    transition: color .3s
                                    &:hover
                                                color: $blue

            &__audio
                        width: 100%
                        max-width: 440px

                        audio
                                    display: none

                        &-progress
                                    z-index: 1
                                    height: 100%
                                    position: absolute
                                    top: 0
                                    left: 0
                                    background-color: rgba(255, 255, 255, .1)
                                    // transition: width .3s linear

                        &-info
                                    position: relative
                                    z-index: 10
                                    display: flex
                                    justify-content: space-between
                                    align-items: center

                        &-playBtn
                                    margin-right: 50px
                                    button
                                                display: flex
                                                align-items: center
                                                justify-content: center
                                                outline: none
                                                border: none
                                                background-color: rgba(32, 33, 36, .5)
                                                width: 30px
                                                min-width: 30px
                                                height: 30px
                                                border-radius: 50%
                                                cursor: pointer

                                                svg
                                                            fill: white
                                                            width: 12px

                        &-wave
                                    pointer-events: none
                                    svg
                                                height: 50px
                                                fill: white

                        &-duration
                                    pointer-events: none
                                    margin-left: 50px
                                    color: white
                                    opacity: .5
                                    font-size: 12px
                                    // font-weight: bold






            // &--readed
            //             #{$self}__readed-icon
            //                         fill: $blue

            &--isme
                        display: flex
                        flex-direction: row-reverse
                        text-align: right
                        margin: 0 0 20px auto

                        #{ $self }__bubble
                                    text-align: left
                                    background-color: white
                                    border: 1px solid $light-blue
                                    border-radius: 12px 12px 0 12px
                                    box-shadow: 0 5px 5px rgba(0, 0, 0, .05)

                        #{ $self }__text
                                    color: $black

                        #{ $self }__avatar
                                    margin-right: 0
                                    margin-left: 13px

            &--typing
                        #{ $self }__avatar
                                    margin-bottom: 0

                        #{ $self }__bubble
                                    padding: 20px
                                    background-color: $light-blue
                                    box-shadow: 0 5px 5px rgba(0, 0, 0, .03)

            &--image
                        #{ $self }__avatar
                                    margin-bottom: 0
                                    
                        #{ $self }__attachments
                                    &-item
                                                width: 150px
                                                height: 150px

            &--audio
                        #{$self}__bubble
                                    overflow: hidden
                                    position: relative
                                    padding: 8px 20px
                        



@keyframes typingAnimation
            0% 
                        opacity: 0.7

            33.33% 
                        opacity: 0.55

            66.67% 
                        opacity: 0.4

            100% 
                        opacity: 1

